/* Default Styles */
*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow-x: hidden;
}
.end{
    width: 100vw;
    height: 5vw;
    background-color: #333333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    h4{
        font-size: 0.8vw;
        font-weight: 100;
    }
}

/* global Styles */

h1{
    font-size: 3vw;
    font-weight: 900;
}
h2{
    font-size: 1.8vw;
    font-weight: 900;
}
h3{
    font-size: 1.2vw;
}
p{
    font-size: 0.9vw;
    font-style: italic;
}
.button{
    background-image: url(../img/bg1.jpg);
    padding: 1vh 1vw;
    border-radius: 50vw;
    font-size: 0.8vw;
    color: #fff;
    font-weight: 900;
    text-decoration: none;
}

/* header.html Styles */

header{
    border-bottom: 0.1vw solid #000;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20vw;
    background-color: #fff;

    .logo{
        width: 5vw;
    }
}

/* top.html Styles */

.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vw;
    img{
        width: 40vw;
        margin-bottom: 5vh;
    }
    .text{  
        width: 40vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;

    }
}

/* content1.html Styles */
.content1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vw;
    width: 85vw;
    img{
        width: 60vw;
    }
    .lines{
        width: 8vw;
        position: relative;
        top: -17vh;
        left: 5vw;
        z-index: -1;
    }
    .min_lines{
        top: -10vh;
    }
    .text{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        width: 30vw;
        height: 35vh;

        p{
            position: relative;
            top: 0;
            left: 2vw;
            width: 20vw;
        }
        a{
            position: relative;
            top: 0;
            left: 2vw;
        }

        .non-relative{
            top: 0;
            left: 0;
        }

        .non-gr{
            background: #000;
        }

        .min{
            width: 20vw;
        }
    }
    .big{
        width: 30vw;
        height: 40vh;
    }
    .min_text{
        width: 30vw;
        height: 22vh;
    }
}

/* images.html Styles */

$img_w1: 100vw/4;
$img_h1: 60vh/2;

.images{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .line{
        display: flex;
        align-items: center;
        justify-content: center;

        img{
            width: $img_w1;
            height: $img_h1;
            margin: 0;
            padding: 0;
            object-fit: cover;
        }
    }
}

/* footer.html Styles */

footer{
    height: 40vh;
    background-color: #26242d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5.5vh 0;

    .logo2{
        img{
            width: 4vw;
        }
    }
    .sections{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 50vw;
        .section{
            color: #fff;

        }
    }
    .social{
        width: 6vw;
        display: flex;
        align-items: center;
        justify-content: space-between;

        img{
            width: 0.8vw;
            height: auto;
        }
    }

}

