<div class="content1">
    <img src="./assets/img/car5.png">
    <div class="text big">
        <h2 class="min">
            Concept-i looks as brilliant
        </h2>
        <p  class="non-relative">
            Its minimal yet artful interior is designed to help support its user experience. Lines flow from the center of the dashboard throughout the vehicle, while Yui travels around them, using light, sound and even touch to communicate critical information. It utilizes a single wide-screen, 3-D, full-color Head-Up Display that blends into an interior that is clean and uncluttered.
        </p>
        <a href="https://www.toyota.com/" class="button non-relative non-gr">LEARN MORE</a>
    </div>
</div>