<footer>
    <div class="logo2">
        <img src="./assets/img/logo2.png" alt="">
    </div>
    <div class="sections">
        <div class="section">
            <h3>
                Headline
            </h3>
            <p>
                Sample footer text
            </p>
        </div>
        <div class="section">
            <h3>
                Headline
            </h3>
            <p>
                Sample footer text
            </p>
        </div>
        <div class="section">
            <h3>
                Headline
            </h3>
            <p>
                Sample footer text
            </p>
        </div>
    </div>
    <div class="social">
        <img src="./assets/img/facebook-icon.svg" alt="">
        <img src="./assets/img/twitter-icon.svg" alt="">
        <img src="./assets/img/instagram-icon.svg" alt="">
        <img src="./assets/img/linkedin-icon.svg" alt="">
    </div>
</footer>
